/** General styles **/
body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 0;
}

.inner_button {
	float:right;
	padding-left: 3px;
}

button {
	padding: 1px 2px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

.data_pane_button {
	float:right;
}

.text_pattern {
	padding-top: 5px;
	padding-bottom: 5px;
}

.shortcut_row {
	margin-left: 1%;
}

.help_button_float {
	margin-left: auto;
}

.spatial_header_row {
	display: flex;
	width: 100%;
	gap: 8px;
	align-items: center;
}

.spatial_header_row .tool {
	width: auto;
}

.export_action_row {
	text-align: center;
	margin-top: 10px;
}

.section_heading {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

/** Tooltip styles **/

.tool {
  position: relative;
  display: inline-block;
  width: inherit;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 2px;
}
.tool2 {
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.tool .tip, .tool2 .tip {
	width: auto;
	top: 100%;
	left: 50%;
	margin-top: 10%;
	margin-left: -50%;
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 3px 6px;
	position: absolute;
	z-index: 2;
}

.tool.section_help_icon .tip {
	left: auto;
	right: 0;
	margin-left: 0;
}

.tooltip {
	position: absolute;
	padding: 10px 10px;
	color: black;
	background-color: white;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
	z-index: 1000;
}

.interface_layout {
	padding-top: 0.5%;
	margin: 0;
	display: grid;
	grid-template-columns: 32% 0.5% 66.5%;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 70%;
	max-width:87.5%;
}

.data_box {
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: normal;
	margin: 0px;
	width: 100%;
	height: 900px;
	display: grid;
	grid-template-rows: 50% 43%;
}
.data_top {
	width: 100%;
	height: 100%;
}

.data_top_header {
	padding-left: 33px;
	margin: 0 15px 0 15px;
}
.canvas_box {
	overflow: auto;
	overflow-y: hidden;
	white-space: normal;	
	width: 52.5vw;
}
.control_box{
	height: 100%;
	overflow-y: auto;
	width: 12%; 
	position: fixed;
	right: 0;
	z-index: 1; 
	top: 0; 
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 0.5%;
	padding-right: 8px; padding-left: 10px;
	background-color: LightBlue;

}

.control_box .noUi-horizontal { height: 14px; }
.control_box .noUi-horizontal .noUi-handle { width: 18px; height: 18px; right: -9px; top: -4px; }
.control_box .slider { margin-top: 2px; margin-bottom: 4px; }

.tabbut{
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	background-color: #EEE;
	display: inline-block;
	width: auto;
	height: 20px;
	white-space: normal;
	font-family: Arial, sans-serif;
}

.data_content{
	padding-top: 20px;
	margin-left: 5%;
	margin-right: 3%;
	background-color: #CCC;
	display: none;
	height: 78%;
	overflow-y: hidden;
	font-family: Arial, sans-serif;
	font-size: 14px;
	position: relative;
}

.data_content p {
	margin-top: 14px;
	margin-bottom: 4px;
}

.data_content_toolbar {
	text-align: center;
}

.tool.section_help_icon {
	position: absolute;
	top: 8px;
	right: 8px;
	width: auto;
}

.timestamp-container{
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 5px;
}
.timestamp-container input{
	flex-grow: 1;
	padding: 2px 5px;
	position: relative;
	display: inline-block;
	width: max-content;
	margin-bottom: 5px;
	font-family: Arial, sans-serif;
	font-size: 14px;
}
.selected_bookmark{
	outline: 2px dashed green;
}
.tabbut2{
	padding: 4px;
	margin: 4px;
	border: none;
	background-color: #EEE;
	font-family: Arial, sans-serif;
}
.active, .collapser:hover {
  background-color: #ccc;
}
.collapsing {
  padding: 0px;
  display: none;
  overflow: visible;
  white-space: normal;
}

.toggler {
	color: black;
}
.toggle-on{
	color: green;
	transition: 0.5s;
}
.data_list {
	list-style-type:none;
	padding: auto;
	margin: 0;
	height: 85%;
	overflow-y: auto;
}
.lens_item{
	display: grid;
	grid-template-columns: 15px 220px;
	width: 260px;
	height: auto;
	border-width: 1px;
	margin-bottom: 3px;
}
.note_item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: auto;
}
.note_dataset {
	width : 150px;
}
.selected{
	border-style: dashed;
	border-color: green;
}
.data_item{
	border-width: 1px;
	display: grid;
	grid-template-columns: 15px 310px;
	width: 325px;
	height: auto;
}
.data_dragger{
	border-width: 3px;
	background-color: DarkGray;
	width: 17px;
}
.dragger{
	border-width: 3px;
	background-color: DarkGray;
	width: 20px;
}
.colorer{
	width: 30px;
	padding-left: 0px; padding-right: 0px;
}
.num{
	width: 70px;
}
.num2{
	width: 50px;
}
.imbutton{
	height:60px;
	width:85px;
	border-width: 1px;
}
.dat_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: auto;
	padding-bottom: 10px;
}
.dat_list li {
	border-width: 1px;
	border-color: #dddddd;
	border-style: dashed;
	margin: 2px;
	padding: auto;
	float: left;
	min-width: 25px;
	height: 25px;
}	
.dat_list .toi_selected {
	background-color: #dddddd;
	border-width: 1px;
	border-style: dashed;
	border-color: green;
	
}
.toi_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: auto;
	padding-bottom: 10px;
}
.toi_list li {
	border-width: 1px;
	border-color: #dddddd;
	border-style: dashed;
	margin: 2px;
	padding: auto;
	float: left;
	min-width: 25px;
	height: 25px;
}	
.toi_list .toi_selected {
	background-color: #dddddd;
	border-width: 1px;
	border-style: dashed;
	border-color: green;
	
}
.timebox {
	margin: 0;
	display: grid;
	grid-template-columns: 75px 125px 75px;
	gap: 15px;
	float: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rowsplit{display:grid;}
.timebox input { margin: 0; text-align:left; font-size: 11; }
.timeslider {float: center; }

.slider {width:90%; float: center; }
.hidden {display: none;}

table, th, td {
	font-weight: 400;
	text-align: left;
}

.dynamic_legend{
	font-family: Arial, sans-serif;
	font-size: 14px;
}

/* Timeline specific css */
.timeline_bookmark_line {
	position: absolute;
	width: 1px;
	background-color: black;
	z-index: 1;
}
.timeline_bookmark_button {
	position: absolute;
	width: 15px;
	height: 15px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	z-index: 2;
}
.timeline_bookmark_toggle {
	position: absolute;
	z-index: 3;
}
.timeline_legend_title {
	text-align: center;
	margin-bottom: 10px;
}
.timeline_legend_row {
	display: flex;
	flex-direction: row;
	gap: 15px;
}
.timeline_legend_item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
}
.timeline_legend_color {
	width: 15px;
	height: 15px;
	border-radius: 5px;
	margin-right: 10px;
}

/* matrix arrangement css */
.greyed_out {
	color: gray;
}
.matrix_wrapper {
	width: 96%; 
}
.matrix_top {
	width: 100%; 
	text-align: center;		
}
.matrix_left_dot {
	width: 6%; height: 6%; float: left;
    -webkit-transform: rotate(270deg); /* Safari and Chrome */
    -moz-transform: rotate(270deg);   /* Firefox */
    -ms-transform: rotate(270deg);   /* IE 9 */
    -o-transform: rotate(270deg);   /* Opera */
    transform: rotate(270deg);
}
.matrix_left {
	height: 100%;
    margin-left: -700%;
    text-align: center;
}
.matrix_center {
	width: 94%; 
	height: 86%; 
	float: right; 
	padding-top:0px; 
}
.matsel {
	display: none;
}
.matsel_shown {
	display: inline;
}
